.border-dotted {
    border-style:dashed;
    border-width:2px;
    border-radius:3px;
    /* color:red; */
    /* background-color: rgb(177, 87, 87); */
    text-align: center;
}


.modalPopUp {
    position:fixed;
    top: 20vh;
    right: 0;
    bottom: 0;
    left:0;
    z-index: 9999;
    opacity: 0;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalPopUp:target {
    opacity:1 ;
    pointer-events: auto;
}

.closeModal {
    /* position: abosolute; */
    float:right;
    /* color: #ffffff; if this is white, it has effect of hiding it (a litttle)*/
    right: -12px;
    text-align: center;
    top: -10px;
    width: 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 1px 1px 3px #000000;

}

.closeModal:hover {
    background: #4aaaa5;
}


/* crbtemp: tried testing this !important overide of bootstrap, not working
body {
    background: red !important;
} */